*{
    margin: 0;
}
.flix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f6f6f6;
}
.smol{
    margin-left: 30px;
    width: 20%;
}
.flix-by,a{
    color:black ;
    margin-right: 30px;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.flix-by,a:hover{
       color: rgb(255, 42, 0);
}
/* hedar sas */
.Ab-section{
    padding-top: 20px;
    height: 750px;
    background-color: rgb(230, 164, 11);
}
.About{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}
.span-color{
    color: rgb(0, 21, 255);
}
.About-img{
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin-left: 510px;
    margin-top: 30px;
}
.About-centr{
    text-align: center;
    margin-top: 20px;
}
.buttons{
    margin-left: 450px;
    margin-top: 35px;
    padding: 10px 25px;
    border-radius: 12px;
    background-color: aqua;
    color: rgb(159, 32, 32);
    border-color: rgb(9, 162, 111);
}  
.buttons:hover{
    background-color: blue;
    color: rgb(255, 255, 255);
}


.display{
    display: flex;
    position: relative;
    justify-content:center; 
    gap:40px;
}
.display22{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.up{
    color: red;
    margin-right: 300px;
}
.up1{
    color: red;
    margin-right: 300px;
    margin-left: 50px;
}
.box{
    margin-top: 30px;
    background-color: aqua;
    border-radius: 8px;
    height: 150px;
    width: 450px;
    border: 2px solid blue;
}
.days,i{
    margin-top: 16px;
    margin-left: 15px;
}
.days1{
    margin-left: 15px;
}

.display1{
    display: flex;
}
.click-pogition{
    margin-top: 34px;
}

.click{
    margin-right: 10px;
    background-color: rgb(252, 0, 0);
    height: 15px;
    width: 15px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 50px;
}
.click1{
    margin-left: 6.6px;
    background-color: rgb(0, 0, 0);
    height: 130px;
    width: 1px;
    border: 3px solid rgb(0, 0, 0);
}


/* .......,,,,,/.......,,,, */
.color-colors{
    background-color:#B2D2EE;
    height: 500px;
    margin-top: 50px;
}
.centers1{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    padding-top: 80px;
}
.flix-divs{
    margin-top: 50px;
    display: flex;
    margin-left: 180px;

}
.gap100{
    margin-left:430px ;

}
.flix-div{
    display: flex;
    justify-content: center;
    gap: 120px;

}

/* ............ */
.lafts{
    margin-left: 320px;
}
.lafts1{
    margin-left: 337px;
}
.lafts2{
    margin-left: 275px;
}
.lafts2s{
    margin-left: 275px;
}
.lafts2sa{
    margin-left: 235px;
}
.lafts2sd{
    margin-left: 254px;

}
.boders {
    border: 2px solid rgb(30, 114, 216);
    background-color: rgb(220, 229, 229);
    color: #000000;
    border-radius: 8px;
    width: 400px;
    padding: 10px;
}
.ro{
    border: 2px solid rgb(26, 16, 172);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 2%;
}
.rol{
    border-radius:0 5px 5px 0;
    background-color: rgb(28, 75, 149);
    padding: 5px;
     border: 1px solid rgb(11, 11, 133);
}
/* ...... */
.ro1{
    border: 2px solid rgb(28, 75, 149);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 4%;
}
.rol1{
    border-radius: 0 5px 5px 0;
    background-color: rgb(28, 75, 149);
    padding: 5px;
     border: 2px solid  rgb(28, 75, 149);
}
/* ..... */
.ro2{
    border: 2px solid rgb(28, 75, 149);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 30%;
}
.rol2{
    border-radius:0 5px 5px 0;
    background-color:  rgb(28, 75, 149);
    padding: 5px;
    border: 2px solid rgb(28, 75, 149);
}
/* ...... */



/* ...... */
.ro2a{
    border: 2px solid rgb(28, 75, 149);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 4%;
}
.rol2a{
    border-radius: 0 5px 5px 0;
    background-color: rgb(28, 75, 149);
    padding: 5px;
     border: 2px solid  rgb(28, 75, 149);
}
/* ..... */
.ro2s{
    border: 2px solid rgb(28, 75, 149);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 30%;
}
.rol2s{
    border-radius:0 5px 5px 0;
    background-color:  rgb(28, 75, 149);
    padding: 5px;
    border: 2px solid rgb(28, 75, 149);
}
/* ...... */
.ro2d{
    border: 2px solid rgb(28, 75, 149);
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 50%;
}
.rol2d{
    border-radius:0 5px 5px 0;
    background-color:  rgb(28, 75, 149);
    padding: 5px;
    border: 2px solid rgb(28, 75, 149);
}

/* ....,,,,,,,/....................,,,, */

.Social-Account{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 100px;

}
.higt{
    height: 180px;
    width: 400px;
    border: 2px solid rgb(239, 235, 235);
    background-color: aliceblue;
    box-shadow: 12px;
    border-radius: 10px;

}
.laftes{
    margin-top: 20px;
    margin-left: 90px;
    color: rgb(19, 99, 99);
}
.higts1{
    margin-top: 10px;
    display: flex;
    margin-left: 90px;
}
.higts{
    margin-top: 18px;
    display: flex;
    margin-left: 60px;
}
.img-emon1{
     width: 350px;
     border-radius: 12px;
     box-shadow: 12px;
}



/* <!-- futer suro --> */
.color{
    margin-top: 10%;
    background-color: black;
    color: white;
}
.colors{
    color:rgb(255, 0, 187);
}
.center{
    margin-left:450px;
    font-size:30px ;
}
.centers{
    margin-left:450px;
    margin-top: 50px;
}
/* <!-- futer sas --> */