*{
    margin: 0;
}
.flix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f6f6f6;
}
.smol{
    margin-left: 30px;
    width: 20%;
}
.flix-by,a{
    color:black ;
    margin-right: 30px;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.flix-by,a:hover{
       color: rgb(255, 42, 0);
}
/* hedar sas */

.back-ind{
    background-color:rgb(24, 24, 107);
    height: 500px;
}

.font-to{
    padding-top: 50px;
    font-size:40px ;
    margin-left: 450px;
    color: aliceblue;
}
.wq{
     color: blue;
}
.font-me{
    margin:10px;
    border:2px solid rgb(255, 0, 251);
    background-color:rgb(24, 24, 107) ;
    color: #f6f6f6;
    border-radius: 3px;
    height:30px;
    width:250px ;
}
.toons{
    margin-left:300px ;
}
.ccddds{
    margin-top: 30px;
}
.to-me{
    background-color:rgb(24, 24, 107) ;
    color: #f6f6f6;
    margin-top: 30px;
    border:2px solid rgb(255, 0, 234);
    border-radius:3px;
    height: 100px;
    width: 300px;
    margin-left:450px ;
}





/* <!-- futer suro --> */
.color{
    background-color: black;
    color: white;
}
.colors{
    color:rgb(255, 0, 187);
    padding-top: 40px;
}
.center{
    margin-left:450px;
    font-size:30px ;
}
.centers{
    margin-left:410px;
    margin-top: 50px;
}

