*{
    margin: 0;
}
.flix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f6f6f6;
}
.smol{
    margin-left: 30px;
    width: 20%;
}
.flix-by,a{
    color:black ;
    margin-right: 30px;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.flix-by,a:hover{
       color: rgb(255, 42, 0);
}
/* hedar sas */

.top{
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    color:navy;
}
.fix{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.tops{
    height: 160px;
    width: 29%;
    border: 2px solid rgb(243, 101, 101);
    border-radius: 12px;
    background-color: aqua;
    color: blue;
}
.code,i{
    margin-top: 10px;
    margin-left: 15px;
}
.code1{
    color: red;
    margin-left: 15px;
}




/* <!-- futer suro --> */
.color{
    margin-top: 8%;
    background-color: black;
    color: white;
}
.colors{
    color:rgb(255, 0, 187);
    padding-top: 40px;
}
.center{
    margin-left:450px;
    font-size:30px ;
}
.centers{
    margin-left:410px;
    margin-top: 50px;
}
/* <!-- futer sas --> *