*{
    margin: 0;
}
.flix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f6f6f6;
}
.smol{
    margin-left: 30px;
    width: 20%;
}
.flix-by,a{
    color:black ;
    margin-right: 30px;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.flix-by,a:hover{
       color: rgb(255, 42, 0);
}
/* hedar sas */


.flix-top{
    display: flex;
    gap: 100px;
    background-color:#AFCFF2;
    height: 510px;
}
.look{
    margin-top: 150px;
    margin-left: 250px;
}
p{
    margin-top:30px;
}
.content,h1{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}
.content,h1::before{
    content: '';
    position: absolute;
    top: 30%;
    right: 0;
    width: 80%;
    height: 100%;
    color: rgb(255, 0, 0);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;  
}

.contents,h3::before{
    content: '';
    position: absolute;
    top: 40%;
    right: 0;
    width: 80%;
    height: 100%;
    color: rgb(89, 0, 255);
    animation: showRigh 1s ease forwards;
    animation-delay: 1s; 

}
/* ......... ........................ */

.img{

    margin-left: 20px;
    margin-top: 90px;
    width: 300px;
    clip-path: circle();
}  
.buttons{
    margin-top: 35px;
    padding: 10px 25px;
    border-radius: 12px;
    background-color: aqua;
    color: rgb(159, 32, 32);
    border-color: rgb(9, 162, 111);
}  
.buttons:hover{
    background-color: blue;
    color: rgb(255, 255, 255);
}
/* ..................... */

/* <!-- moon.......suro --> */

.moons{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: rgb(255, 255, 0);
    border-radius: 50px;
    box-shadow: 0 0 3em white;
}
.earth,.Moon{  
     position: absolute;
     border-style: solid;
     border-color: white 
     transparent;
    border-width: 0.1em 0.1em 00; 
    border-radius: 60%;
 }
.earth{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 20.5s linear infinite;
}
.Moon{
    top: 0em;
    left:21em;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}
.earth ::before,.Moon ::before{
    content: '';
    position: absolute;
    border-radius: 50px;
}
.earth ::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}
.Moon ::before{
    top: 0.8em;
    right: 0.8em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}
@keyframes orbit{
    to{
        transform: rotate(360deg);
    }
}

/* <!-- moon.......sas --> */



/* <!-- futer suro --> */
.color{
    margin-top: 20%;
    background-color: black;
    color: white;
}
.colors{
    color:red;
    padding-top: 40px;
}
.center{
    margin-left:450px;
    font-size:30px ;
}
.centers{
    margin-left:410px;
    margin-top: 50px;
}
/* <!-- futer sas --> */
/* ........................... */
@keyframes showRight{
    80%{
        width: 60%;
    }
}
@keyframes showRigh{
    80%{
        width: 70%;
    }
}
/* .................................... */